<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script src="../jquery-1.8.3.min.js"></script>
    <script src="template.js"></script>
    <div id="content"></div>
    <script id="test" type="text/html">
        {{if isAdmin}}
            <h1>{{author}}的作品：</h1>
            <ul>
                {{each list as value i}}
                    <li>{{i + 1}} ：{{value}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </script>
    <script>
        var data = {
        author: '宫崎骏',
        isAdmin: true,
        list: ['千与千寻', '龙猫', '天空之城']
    };
    var html = template('test', data);
    $("#content").html(html);
    </script>
</body>

</html>