<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!--用于展示模版的位置-->
    <div id="area"></div> 
    ​
    <script src="template.js"></script>
    <!--用于存放模版-->
    <script id="template" type="text/html"> 
        <div>
            <% for(i=0;i<content.length;++i) {%>
            <h1><%=content[i].province%></h1>
                <% for(j=0 ; j<content[i].city.length ; ++j){%>
                <p><%=content[i].city[j]%></p>
                <%}%>
            <%}%>
        </div>
    </script>
    <!--用于渲染模版-->
    <script>
    var data={
        content:[
        {province:'四川',city:['成都','绵阳','自贡']},
        {province:'广东',city:['广州','东莞','佛山']},
        {province:'海南',city:['海口','三亚']}
        ]
    };
    var html=template('template',data);
    document.getElementById('area').innerHTML=html
    </script>
</body>

</html>